<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ChaoticViewer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        //var state_abbreviations = {{{STATES}}}; // ['AZ', 'AL', ...] (alpha order)
        var xData = {{{XDATA}}}; // [1960, 1961, 1962, 1963, ...] (years)
        var yData = {{{YDATA}}}; // [[1, 2, 4, 7, ...], [3, 4, 5, 6, ...], [4, 3, 5, 8, ...], ...] (state order, year order)
    </script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="/js/processing.js"></script>
    <script src="/js/savitzky-golay.js"></script>
</head>
<body>
    <!-- create template here -->
<body onload="init()">
    <!-- main content within a `grid-container` -->
    <div class="grid-container">
        <!-- `grid-x` represents a row -->
        <div class="grid-x grid-padding-x">
          <h1>ChaoticViewer</h1>
        </div>
    </div>
    <div id="gui">
      <b>Savitsky-Golay Filter</b>
      <label for="side_points">Side points (k):</label>
      <input type="text" id="side_points" name="side_points" value="600"><br>
      <label for="poly_order">Regression polynomial order:</label>
      <input type="text" id="poly_order" name="poly_order" value="4"><br>
      Upload Files
      <label for="upload_file">Select Binary and Text File: </label>
      <input id="upload_file" type="file" multiple/>
      Graph Elements
      <label for="display_format">Display Format: </label>
      <select id="display_format">
          <option value="0">Phase Space</option>
          <option value="1">Poincare</option>
          <option value="2">Animated Poincare</option>
      </select>
      <input type="submit" value="Submit" onclick="fileChange()">
      <br/>
    </div>
    
    <div id="graphDiv">
    </div>

    <script type="text/javascript">

      var data = [{
        x: xData,
        y: yData,
        type: 'scatter',
        mode: 'lines',
        line: {
          width: 1
        }
      }];

      Plotly.newPlot('graphDiv', data);

    </script>
</body>
</html>
