<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ChaoticViewer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        //var state_abbreviations = {{{STATES}}}; // ['AZ', 'AL', ...] (alpha order)
        var xData = {{{XDATA}}}; // [1960, 1961, 1962, 1963, ...] (years)
        var yData = {{{YDATA}}}; // [[1, 2, 4, 7, ...], [3, 4, 5, 6, ...], [4, 3, 5, 8, ...], ...] (state order, year order)
    </script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="/js/processing.js"></script>
</head>
<body>
    <!-- create template here -->
<body onload="init()">
    <!-- main content within a `grid-container` -->
    <div class="grid-container">
        <!-- `grid-x` represents a row -->
        <div class="grid-x grid-padding-x">
          <h1>ChaoticViewer</h1>
          <canvas id="view"></canvas>
          <br/>
          <div class="spacer"></div>
        </div>
    </div>
    <div id="gui">
      <label for="bin_file">Import Binary File: </label>
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.4"> </script> 
      Extract weights for consistent float32 Tensorflowjs saved model binary url <br>
      <label for="bin_file">Import Binary File: </label>
      <input id="bin_file" type="file" onchange="{                                                                                                                                                       
        //https://github.com/tensorflow/tfjs/issues/386
        let myInline = (async function () {							    								    
          const myBinaryFile = await	fetch(document.getElementById('bin_file'))
          const myBuffer = await myBinaryFile.arrayBuffer() 
           
          const dv = new DataView(myBuffer);
          var f32 = new Float32Array(myBuffer.byteLength / 4);
          const littleEndian = true;
          
          for (let i = 0; i < f32.length; i++) {
            f32[i] = dv.getFloat32(i*4, littleEndian);
          }   
      
          console.log(f32);

          const myWeightsJSON = JSON.stringify(f32,null,4)  	  
          console.log(myWeightsJSON);
          //document.getElementById('myWeights').value =  myWeightsJSON 
          })()
      }" />
      <!--<input id="txt_file" type="file" onchange="loadNewScene()" />-->
      <label for="display_format">Display Format: </label>
      <select id="display_format" @change="selectShadingAlgorithm()">
          <option value="phasespace">Phase Space</option>
          <option value="poincare">Poincare</option>
      </select>
      <br/>
      <div class="spacer2"></div>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>

    <div id="graphDiv">
    </div>

    <script type="text/javascript">

      var data = [{
        x: xData,
        y: yData,
        type: 'scatter',
        mode: 'lines',
        line: {
          width: 1
        }
      }];

      /*
      for ( var i = 0 ; i < yData.length ; i++ ) {
        var result = {
          x: xData,
          y: yData,
          type: 'scatter',
          mode: 'lines',
          line: {
            width: 1
          }
        };
        data.push(result);
      }*/

      var layout = {
        /*showlegend: false,
        /*height: 600,
        width: 1200,
        xaxis: {
          showline: true,
          showgrid: false,
          showticklabels: true,
          linecolor: 'rgb(204,204,204)',
          linewidth: 2,
          autotick: false,
          ticks: 'outside',
          tickcolor: 'rgb(204,204,204)',
          tickwidth: 2,
          ticklen: 5,
          tickfont: {
            family: 'Arial',
            size: 12,
            color: 'rgb(82, 82, 82)'
          }
        },
        yaxis: {
          showgrid: false,
          zeroline: false,
          showline: false,
          showticklabels: false
        },
        autosize: true,
        margin: {
          autoexpand: false,
          l: 100,
          r: 20,
          t: 100
        },*/
        annotations: [
          {
            xref: 'paper',
            yref: 'paper',
            x: 0.0,
            y: 1.05,
            xanchor: 'left',
            yanchor: 'bottom',
            text: 'Historical energy usage by state',
            font:{
              family: 'Arial',
              size: 30,
              color: 'rgb(37,37,37)'
            },
            showarrow: false
          }
        ]
      };

      /*for( var i = 0 ; i < yData.length ; i++ ) {
        var result = {
          xref: 'paper',
          x: 0.95,
          y: yData[i][11],
          xanchor: 'right',
          yanchor: 'middle',
          text: state_abbreviations[i],
          font: {
            family: 'Arial',
            size: 16,
            color: 'black'
          },
          showarrow: false
        };

        layout.annotations.push(result);
      }*/

      Plotly.newPlot('graphDiv', data, layout);

    </script>
</body>
</html>
